#canvas {
  height: 100%;
  width: 100%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-image: url("gamebackground.jpg");
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
